AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# Subscribe to Deepgram on AWS Marketplace, then find model package ARNs in
# SageMaker console under "Model packages > AWS Marketplace subscriptions".
# STT: https://aws.amazon.com/marketplace/pp/prodview-pnd4oy3p2xtro
# TTS: https://aws.amazon.com/marketplace/pp/prodview-o2f7xiwm7khdk

# Optional. The script will find an execution role if you don't specify one here
SAGEMAKER_EXECUTION_ROLE_ARN=

DEEPGRAM_STT_MODEL_PACKAGE_ARN=
DEEPGRAM_TTS_MODEL_PACKAGE_ARN=
DEEPGRAM_FLUX_STT_MODEL_PACKAGE_ARN=

SAGEMAKER_STT_ENDPOINT_NAME=deepgram-stt
SAGEMAKER_TTS_ENDPOINT_NAME=deepgram-tts
SAGEMAKER_STT_INSTANCE_TYPE=ml.g5.2xlarge
SAGEMAKER_TTS_INSTANCE_TYPE=ml.g6.12xlarge
